{% extends 'base.html' %}

{% block title %}Booklyn - {{ user.username.lower() }}{% endblock %}

{% block content %}
<div class="row middle-bar">
    <div class="col-12 col-md-2">
        <div class="container">
            <div class="text-center">
                <div class="mt-2">
                    <a href="/users/{{ user.id }}/edit"><img src="{{ user.image_url }}" alt="user's profile image"
                            class="img-thumbnail rounded-circle" style="width: auto; height: 150px;"></a>
                </div>
                <div class="mt-3">
                    <h3>{{ user.username.lower() }}
                        <a href="/users/{{ user.id }}/edit" class="text-muted inline edit_profile"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                    </h3>
                </div>
                <div>
                    <a href="/users/{{ user.id }}/reviews" class="btn btn-info btn-sm mt-3">reviews</a>
                </div>
            </div>
        </div>

        <hr>
    </div>
    <div class="col-12 col-md-10">

        {% if user.bio %}
        <div id="bio_div">
            <p>{{ user.bio }}</p>
        </div>
        {% endif %}

        <div class="container">
            {% if user.favorite|length > 0 %}
            <h1><a class="list_name" href="/users/{{ user.id }}/favorite">favorites
                </a></h1>
            <div id="favorite_div" class="card-deck row">
                {% for book in user.favorite[:3] %}
                <div class="card col-12 col-md-6 col-xl-3">
                    <a href="/books/{{ book.volumeId }}">

                        <div class="container">
                            <div class="text-center mt-3">
                                <img src="{{ book.thumbnail }}" class="card-img-top img-fluid" alt="book cover"
                                    style="width: 150px; height: 200px;">
                            </div>

                            <div class="card-body">
                                <p class="card-text h5 text-dark">{{ book.title }}</p>
                                <p class="card-text font-italic text-muted">By {{ book.authors[0].author }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr class="bg-light border-2 border-top">
        <h1 class="display-5">{{ user.username.lower() }}'s bookshelves:</h5>


            <div class="container">
                {% if user.currently_reading|length > 0 %}
                <h1><a href="/users/{{ user.id }}/currently_reading" class="list_name">currently reading</a></h1>
                <div class="card-deck row">
                    {% for book in user.currently_reading[:3] %}
                    <div class="card col-12 col-md-6 col-xl-3">
                        <a href="/books/{{ book.volumeId }}">
                            <div class="container">
                                <div class="text-center mt-3">
                                    <img src="{{ book.thumbnail }}" class="card-img-top img-fluid justify-content-center mt-3"
                                        alt="book cover" style="width: 150px; height: 200px;">
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text h5 text-dark">{{ book.title }}</p>
                                <p class="card-text font-italic text-muted">By {{ book.authors[0].author }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="container">
                {% if user.want_to_read|length > 0 %}
                <h1 class="mt-3"><a href="/users/{{ user.id }}/want_to_read" class="list_name">want to read
                    </a></h1>
                <div class="card-deck row">
                    {% for book in user.want_to_read[:3] %}
                    <div class="card col-12 col-md-6 col-xl-3">
                        <a href="/books/{{ book.volumeId }}">
                            <div class="container">
                                <div class="text-center mt-3">
                                    <img src="{{ book.thumbnail }}" class="card-img-top img-fluid justify-content-center mt-3"
                                        alt="book cover" style="width: 150px; height: 200px;">
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text h5 text-dark">{{ book.title }}</p>
                                <p class="card-text font-italic text-muted">By {{ book.authors[0].author }}</p>

                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="container mb-3">
                {% if user.read|length > 0 %}
                <h1 class="mt-3"><a href="/users/{{ user.id }}/read" class="list_name">read
                    </a></h1>
                <div class="card-deck row">
                    {% for book in user.read[:3] %}
                    <div class="card col-12 col-md-6 col-xl-3">

                        <div class="container">
                            <div class="text-center mt-3">
                                <a href="/books/{{ book.volumeId }}">
                                    <img src="{{ book.thumbnail }}" class="card-img-top img-fluid justify-content-center mt-3"
                                        alt="book cover" style="width: 150px; height: 200px;">
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/books/{{ book.volumeId }}">
                                <p class="card-text h5 text-dark">{{ book.title }}</p>
                                <p class="card-text font-italic text-muted">By {{ book.authors[0].author }}
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
    </div>
    {% endif %}
</div>
</div>

</div>


{% endblock %}