{% extends 'base.html' %}

{% block title %}Booklyn - {{ user.username }}{% endblock %}

{% block content %}
<div class="row middle-bar">
    <div class="col-2">
        <a href="/users/{{ user.id }}/edit"><img src="{{ user.image_url }}" alt="user's profile image"
                class="img-thumbnail rounded-circle float-right mt-3" style="width: auto; height: 150px;"></a>
    </div>
    <div class="col-10">
        <div>
            <h2>{{ user.username }}
                <a href="/users/{{ user.id }}/edit" class="text-muted inline edit_profile"><i
                        class="fa-solid fa-pen-to-square"></i></a>
            </h2>
            <hr>
        </div>
        {% if user.bio %}
        <div id="bio_div">
            <p>{{ user.bio }}</p>
        </div>
        {% endif %}

        <div class="container">
            {% if user.favorite|length > 0 %}
            <h1>Favorites <a href="/users/{{ user.id }}/favorite"><i class="fa-solid fa-book"></i></a>:</h1>
            <div id="favorite_div" class="card-deck">
                {% for book in user.favorite[:3] %}
                <div class="card">
                    <img src="{{ book.thumbnail }}" class="card-img-top" alt="book cover">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>


                <!-- <div class="col-4 text-center">
                    <img src="{{ book.thumbnail }}" class="rounded" alt="book cover">
                </div> -->
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <h1>{{ user.username }}'s bookshelves:</h5>
            <ul style="list-style: none;">
                {% if user.want_to_read|length > 0 %}
                <li>
                    <a href="/users/{{ user.id }}/want_to_read"><i class="fa-solid fa-book"></i> Books to read</a>
                </li>
                {% endif %}
                {% if user.currently_reading|length > 0 %}
                <li>
                    <a href="/users/{{ user.id }}/currently_reading"><i class="fa-solid fa-book"></i> Books currently
                        reading</a>
                </li>
                {% endif %}
                {% if user.read|length > 0 %}
                <li>
                    <a href="/users/{{ user.id }}/read"><i class="fa-solid fa-book"></i> Books read</a>
                </li>
                {% endif %}


            </ul>




    </div>

</div>


{% endblock %}