{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<h1 class="display-1">Sign Up</h1>
<p class="join-message">Join Booklyn today.</p>
<form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group">
        {{ field.label }}

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {{ field(placeholder=field.label.text, class="form-control") }}
    </div>
    {% endfor %}

    <button class="btn btn-primary btn-lg btn-block">Sign Up</button>

</form>



{% endblock %}