{% extends 'base.html' %}

{% block title %}Book Details{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-3 container">
      <img src="{{ result.volumeInfo.imageLinks['thumbnail'] }}" alt="book cover image"
        class="mt-3" style="max-width: 200px; height: 300px;">

      <div id="star_div" class="col-md-auto mt-3">
        <p class="star-rating">
          <i class="fa-regular fa-star" data-star="1"></i>
          <i class="fa-regular fa-star" data-star="2"></i>
          <i class="fa-regular fa-star" data-star="3"></i>
          <i class="fa-regular fa-star" data-star="4"></i>
          <i class="fa-regular fa-star" data-star="5"></i>
        </p>
      </div>
  

  </div>
  <div class="col-9">
    <div>
      <h2>
        {{ result.volumeInfo.title }}
        {{ ': ' + result.volumeInfo.subtitle if result.volumeInfo.subtitle }}
      </h2>
      <hr>
    </div>
    <div>
      <h6 class="card-subtitle mb-2 text-muted">
        by
        {% for author in result.volumeInfo.authors %}
        {{ author }}
        {{ "," if not loop.last else "" }}
        {% endfor %}
      </h6>
      <p>{{ desc|safe }}</p>

      <p class="card-subtitle mb-2 text-muted">
        Genre:
        {% for category in result.volumeInfo.categories %}
        {{ category }}
        {{ "," if not loop.last else "" }}
        {% endfor %}
      </p>
    </div>

    {% if book.reviews %}
    <h1 class="mt-3">Reviews</h1>
    {% for review in book.reviews %}

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div>
          <img src="{{ review.user.image_url }}" class="card-img" alt="user image">
        </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p>Here, show star rating</p>
            <p class="card-text">{{ review.review }}</p>
            <p class="card-text"><small class="text-muted">Reviewed on: {{ review.date_added.strftime('%B %d %Y') }}</small></p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}

    {% if form and not user.user_reviewed(book.id) %}
    <div>
      <h1 class="mt-3">Write a review?</h1>
      <form method="POST" id="review_form">
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden'%}
        <div class="form-group">
            {{ field.label }}
    
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
    
            {{ field(placeholder=field.label.text, class="form-control") }}
        </div>
        {% endfor %}
    
        <button class="btn btn-primary btn-lg btn-block">Post</button>
    </form>
    </div>
    {% endif %}

    


    <!-- {% if form %}
<div>
  <form method="POST" class="review_form" action="/books/{{ result.id }}" id="review_form" name="review">
    <div class="form-group">
      <ul>
        <li><label for="rating_1">1</label>
        <input type="radio" name="rating" id="rating_1" value="1"></li>
        <li><label for="rating_2">2</label>
        <input type="radio" name="rating" id="rating_2" value="2"></li>
        <li><label for="rating_3">3</label>
        <input type="radio" name="rating" id="rating_3" value="3"></li>
        <li><label for="rating_4">4</label>
        <input type="radio" name="rating" id="rating_4" value="4"></li>
        <li><label for="rating_5">5</label>
        <input type="radio" name="rating" id="rating_5" value="5"></li>
      </ul>

      {% for fieldName, errorMessages in form.errors.items() %}
      {% for err in errorMessages %}
      <span class="text-danger">{{ err }}</span>
      {% endfor %}
      {% endfor %}

    </div>
    <div class="form-group">
      <label for="review">Review: </label>
      <textarea class="form-control" name="review" id="review" rows="3"></textarea>


    </div>

    <button class="btn btn-primary btn-lg btn-block" id="post_btn" form="review_form" type="submit">Post</button>

  </form>
</div>
{% endif %} -->

  </div>

</div>




{% endblock %}