{% extends 'base.html' %}

{% block title %}Book Details{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-3 container">
    {% if result.volumeInfo.imageLinks %}
    <div class="text-center">

      <img src="{{ result.volumeInfo.imageLinks['thumbnail'] }}" alt="book cover image" class="mt-3"
        style="max-width: 200px; height: 300px;">
      {% else %}
      <img src="/static/images/cover-not-available.png" class="mt-3 mr-3 book_not_available_img"
        alt="generic book image">
      </a>
    </div>
    {% endif %}
  </div>

  {% if rating %}
  <div class="text-center">
    <p class="pt-2">average rating </p>

    <div id="star_div" class="col-md-auto mt-3 star-rating">

      {% for i in range(0, rating) %}
      <i class="fa-solid fa-star"></i>
      {% endfor %}
      {% if half %}
      <i class="fa fa-star-half-o" aria-hidden="true" id="half_star"></i>
      {% endif %}


      {% if half == 0 %}
      {% for i in range(0, 5 - rating) %}
      <i class="fa-regular fa-star"></i>
      {% endfor %}
      {% endif %}

      {% if half %}
      {% for i in range(0, 5 - rating - 1) %}
      <i class="fa-regular fa-star"></i>
      {% endfor %}
      {% endif %}

    </div>
  </div>
  {% endif %}
</div>


<div class="col-9 container pt-3">
  <div>
    <h2>
      {{ result.volumeInfo.title }}
      {{ ': ' + result.volumeInfo.subtitle if result.volumeInfo.subtitle }}
    </h2>
    <hr>
  </div>
  <div>
    <h6 class="card-subtitle mb-2 text-muted">
      by
      {% for author in result.volumeInfo.authors %}
      {{ author }}
      {{ "," if not loop.last else "" }}
      {% endfor %}
    </h6>
    {% if desc %}
    <p>{{ desc|safe }}</p>
    {% endif %}

    <p class="card-subtitle mb-2 text-muted">
      Genre:
      {% for category in result.volumeInfo.categories %}
      {{ category }}
      {{ "," if not loop.last else "" }}
      {% endfor %}
    </p>
  </div>

  {% if book %}
  {% if book.reviews %}
  <h1 class="mt-3">reviews</h1>
  {% for review in book.reviews %}

  <div class="card mb-4">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="mt-2 ml-2">
          <img src="{{ review.user.image_url }}" class="card-img text-center" alt="user image" style="width: auto; height: 150px;">
        </div>
      </div>
      <div class="col-12 col-lg-7 p-2">
        <div class="card-body">
          <h5>
            <div>
              <div id="star_div" class="star-rating">
                {% for i in range(0, review.rating) %}
                <i class="fa-solid fa-star"></i>
                {% endfor %}

                {% for i in range(0, 5 - review.rating) %}
                <i class="fa-regular fa-star"></i>
                {% endfor %}
              </div>
            </div>
          </h5>

          <p class="card-text font-italic text-muted">by {{ review.user.username.lower() }}</p>
          <p class="card-text">{{ review.review | truncate(600) }}</p>
          <p class="card-text"><small class="text-muted">reviewed on:
              {{ review.date_added.strftime('%B %d %Y') }}</small></p>
        </div>
      </div>

      <div class="col-12 col-lg-1">
        <div class="p-3 text-right">
          {% if g.user == review.user %}
          <form action="/users/{{ user.id }}/reviews/{{ review.id }}/delete" method="POST" class="delete-form form-inline">
            <button class="btn btn-sm btn-secondary d-inline-flex">
              <i class="fa-solid fa-trash-can"></i>
          </form>
          {% endif %}
        </div>
      </div>





    </div>
  </div>

  {% endfor %}
  {% endif %}
  {% endif %}

  {% if form and not user.user_reviewed(book.id) %}
  <div class="pb-3">
    <h1 class="mt-3">write a review?</h1>
    <form method="POST" id="review_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden'%}
      <div class="form-group">
        {{ field.label }}

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {{ field(placeholder=field.label.text, class="form-control") }}
      </div>
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-info">post</button>
      </div>
    </form>
  </div>
  {% endif %}

</div>






{% endblock %}