/* .edit_profile {
    white-space: nowrap;
} */

/* ****************************************
navbar
***************************************** */

.navbar{
    background: #B9C6CC;
}

/* Booklyn logo in nav bar */
.navbar-brand{
    font-family: serif;
}

/* ****************************************
home page
***************************************** */

.home{
    height: 100vh;
    background-image: url('/static/images/home_background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-title{
    font-family: serif;
    /* 'Space Mono', monospace; */
    color: #CE7A12;
    font-size: 15vw;
}


/* ****************************************
user profile page
***************************************** */



/* ****************************************
lists
***************************************** */
.book_title {
    color: black;
}







/* ****************************************
book detail show page
***************************************** */

.star-rating{
    color: #bebebe;
    font-size:1.5em;
}


/* ****************************************
search result page
***************************************** */

/* search_result page */
.book_not_available_img{
    max-width: 130px;
    max-height: 350px;
}