/* .edit_profile {
    white-space: nowrap;
} */

/* ****************************************
navbar
***************************************** */

.navbar{
    background: #B9C6CC;
}

/* Booklyn logo in nav bar */
.navbar-brand{
    font-family: serif;
}

/* ****************************************
home page
***************************************** */

.home{
    height: 100vh;
    background-image: url('/static/images/home_background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-title{
    font-family: serif;
    /* 'Space Mono', monospace; */
    color: #CE7A12;
    font-size: 15vw;
}



/* .background{
    font-family: serif;
    color: #B9C6CC;
    height: 100%;
    background-image: url('/static/images/home_background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* User profile page */
/* .middle-bar{
    background-color: #1D6686;
    height: 100%;
} */

/* .card-img-top{
    height: 350px;
    width: 130px;
} */

/* ****************************************
user profile page
***************************************** */



/* ****************************************
book detail show page
***************************************** */

.star-rating{
    color: #bebebe;
    font-size:1.5em;
}


/* ****************************************
search result page
***************************************** */

/* search_result page */
.book_not_available_img{
    max-width: 130px;
    max-height: 350px;
}