{% extends 'list_base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}


    <div class="container">
      <h1 class="mt-3">reviews</h1>
      {% for review in user.reviews|sort(reverse=true, attribute="date_added") %}

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="container" style="width: 200px; height: 350px;">
              <img src="{{ review.book.thumbnail }}" class="card-img" alt="book cover">
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5>My Rating: {{ review.rating }}
                {% if g.user == review.user%}
                <form action="/users/{{ user.id }}/reviews/{{ review.id }}/delete" method="POST"
                  class="delete-form d-inline">
                  <button class="btn btn-sm btn-secondary">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
                <a href="/users/{{ user.id }}/reviews/{{ review.id }}/update" class="text-muted inline edit_profile">
                  <button class="btn btn-sm btn-secondary">
                    <i class="fa-solid fa-pen-to-square"></i></button></a>
                {% endif %}
              </h5>
              <p class="card-text">{{ review.review }}</p>
              <p class="card-text"><small class="text-muted">Reviewed on:
                  {{ review.date_added.strftime('%B %d %Y') }}</small></p>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>


  <!-- {% if form %}
<div>
  <form method="POST" class="review_form" action="/books/{{ result.id }}" id="review_form">
    <div class="form-group">
      <ul>
        <li><label for="rating_1">1</label>
        <input type="radio" name="rating" id="rating_1" value="1"></li>
        <li><label for="rating_2">2</label>
        <input type="radio" name="rating" id="rating_2" value="2"></li>
        <li><label for="rating_3">3</label>
        <input type="radio" name="rating" id="rating_3" value="3"></li>
        <li><label for="rating_4">4</label>
        <input type="radio" name="rating" id="rating_4" value="4"></li>
        <li><label for="rating_5">5</label>
        <input type="radio" name="rating" id="rating_5" value="5"></li>
      </ul>

      {% for fieldName, errorMessages in form.errors.items() %}
      {% for err in errorMessages %}
      <span class="text-danger">{{ err }}</span>
      {% endfor %}
      {% endfor %}

    </div>
    <div class="form-group">
      <label for="review">Review: </label>
      <textarea class="form-control" name="review" id="review" rows="3"></textarea>

    </div>

    <button class="btn btn-primary btn-lg btn-block">Post</button>

  </form>
</div> -->



  {% endif %}


  {% endblock %}