{% extends 'list_base.html' %}

{% block title %}{{ user.username }}'s want-to-read list{% endblock %}

{% block content %}

<h2>Want to Read</h2>
{% if user.want_to_read %}

{% for book in user.want_to_read %}
<div class="media" id="want_to_read_div">
    <li class="media mt-3">
        <div></div>
        <a href="/books/{{ book.volumeId }}" class="book_title">
            <img src="{{ book.thumbnail }}" class="mr-3" alt="book cover image">
        </a>
        <div class="media-body">
            <h5>
                <a href="/books/{{ book.volumeId }}" class="book_title">
                    {{ book.title }}
                    {{ ': ' + book.subtitle if book.subtitle }}
                </a>
                {% if g.user %}
                <form action="/users/{{ user.id }}/want_to_read/{{ book.id }}/delete" method="POST"
                    class="delete-form d-inline">
                    <button class="btn btn-sm btn-secondary">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
                {% endif %}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                by
                {% for author in book.authors %}
                {{ author.author }}
                {{ "," if not loop.last else "" }}
                {% endfor %}
            </h6>
            <p class="card-subtitle mb-2 text-muted">
                Genre:
                {% for category in book.categories %}
                {{ category.category }}
                {{ "," if not loop.last else "" }}
                {% endfor %}
            </p>
        </div>
    </li>
</div>
{% endfor %}
{% endif %}

</div>

</div>


{% endblock %}