{% extends 'base.html' %}

{% block title %}{{ user.username }}'s currently_reading list{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
        <a href="/users/{{ user.id }}/edit"><img src="{{ user.image_url }}" alt="user's profile image"
                class="img-thumbnail rounded-circle float-right mt-3" style="width: auto; height: 150px;"></a>
    </div>
    <div class="col-10">
        <div>
            <h2>{{ user.username }}
                <a href="/users/{{ user.id }}/edit" class="text-muted inline edit_profile"><i
                        class="fa-solid fa-pen-to-square"></i></a>
            </h2>
            <hr>
        </div>
        {% if user.bio %}
        <div id="bio_div">
            <p>{{ user.bio }}</p>
        </div>
        {% endif %}
        <h2>Currently Reading</h2>
        {% if user.currently_reading %}
        {% for book in user.currently_reading %}
        <div class="media" id="currently_reading_div">
            <li class="media mt-3">
                <a href="/books/{{ book.volumeId }}" class="book_title">
                <img src="{{ book.thumbnail }}" class="mr-3" alt="book cover image"></a>
                <div class="media-body">
                    <h5>
                        <a href="/books/{{ book.volumeId }}" class="book_title">
                        {{ book.title }}
                        {{ ': ' + book.subtitle if book.subtitle }}
                    </a>
                        {% if g.user %}
                        <form action="/users/{{ user.id }}/currently_reading/{{ book.id }}/delete" method="POST" class="delete-form d-inline">
                            <button class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                        </form>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        by
                        {% for author in book.authors %}
                        {{ author.author }}
                        {{ "," if not loop.last else "" }}
                        {% endfor %}
                    </h6>
                    <p class="card-subtitle mb-2 text-muted">
                        Genre:
                        {% for category in book.categories %}
                        {{ category.category }}
                        {{ "," if not loop.last else "" }}
                        {% endfor %}
                    </p>
                </div>
            </li>
        </div>
        {% endfor %}
        {% endif %}

    </div>

</div>


{% endblock %}